<h1>Карточка сотрудника</h1>

<div class="employee-detail">
   {% if main_image_url %}
      <img src="{{ main_image_url }}" alt="Фото {{ employee.first_name }}">
   {% endif %}
   <h2>{{ employee.first_name }} {{ employee.last_name }}</h2>
   <p>Пол: {{ employee.get_gender_display }}</p>
   <h3>Навыки:</h3>
   <ul>
     {% for skill, level in employee.skills.items %}
       <li>{{ skill }}: {{ level }}</li>
     {% endfor %}
   </ul>
   <p>Стаж в днях: {{ experience_days }}</p>
   <p>Номер стола: {{ employee.desk_number }}</p>

   <h3>Галерея изображений:</h3>
   {% for img in gallery_images %}
      <img src="{{ img.image.url }}" alt="Фото сотрудника" style="width:100px;">
   {% endfor %}
</div>
